@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a,
a:link,
a:visited {
	color: #363636;
	text-decoration: none;
	;
}

a:hover,
a:focus,
a:active {
	color: #000000;
}

a:hover,
a:active {
	outline: none;
}

.yotta {
  font-size: 25rem;
  margin: 1rem;
  padding: 1rem;
}

.skull, .crossbones {
	opacity: 0;
	position: relative;
}

.js-skull-fade-1 {
	-webkit-animation: ship-fade-1 1s linear forwards;
}

@-webkit-keyframes ship-fade-1 {
	0% {
		opacity: 0;
		top: 20em;
	}

	100% {
		opacity: 1;
		top: .25em;
	}
}

.js-skull-fade-2 {
	-webkit-animation: ship-fade-2 1.5s linear forwards;
}

@-webkit-keyframes ship-fade-2 {
	0% {
		opacity: 0;
		top: 17em;
	}
	100% {
		opacity: 1;
		top: .25em;
	}
}
